html, body, ul, li{
    margin: 0;
    padding: 0;
}

.faq-wrap {
    margin: 30px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid gray;
}

.item {
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 10px;
    background-color: bisque;
    cursor: pointer;
}

.faq-question {
    display: block;
}

.answer {
    padding-top: 10px;
    padding-left: 15px;
    background-color: antiquewhite;
    cursor: auto;
    display: none;
}
